<div id="rend">
<%= form_for :book,:remote => true, url: books_path do |f|  %>
<p>
	<%= f.label :name %></br>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :price%></br>
	<%= f.text_field :price %>
</p>
<p>
	<%= f.submit %>
</p>
<%end%>
</div>