<!DOCTYPE html>
<html>
<head>
  <title>Simplelogin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <% if user_signed_in? %>
      welcome <%= current_user.first_name %>you are singn in with <%= current_user.email%>. Not you?
      <%= link_to "sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "sign up", new_user_registration_path %> OR <%= link_to "sign in", new_user_session_path %>
  <% end %>

  <%= render "layouts/header" %>
  
<%= yield %>

</body>
</html>
